<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <link rel="stylesheet" href="\css\main.css">
    <title>Backend 1 - Coderhouse</title>
</head>
<body>
    {{{ body }}}

</body>
</html>